a,
button {
  margin-right: 15px;
}

a {
  text-decoration: none;
  padding: 5px;
  color: white;
  background-color: rgb(87, 113, 228);
}

button {
  border: none;
  padding: 5px;
  font-size: 15px;
  color: white;
  background-color: rgb(236, 99, 99);
  cursor: pointer;
}

.locale-btn {
  background-color: cadetblue;
  padding: 3px;
}
